.vite
vendor/
node_modules/
/dist/
out/
bundled/
build/
*.log
.DS_Store
Thumbs.db
*.zip
*.map
*.tar.gz
*.tgz
*.env
*.env.local
*.env.development
*.env.production
.vscode/
.next
.phpunit.result.cache
.claude/
.vercel
